.route-form {
  min-width: 220px;
  max-width: 600px;
  width: 100%;
  margin: 2rem;
  border: 1px dashed black;
  padding: 1rem 1rem;
}
.route-note{
  width: 100%;
  height: 500%;
  scroll-margin: 2rem;
}
h1{
  font-size: 14px;
}
p{
  font-size: 12px;
}
