<div *ngIf="isUsersDataLoaded" class="route-form">
  <hi>Создание маршрута по задаче:</hi>
  <p>{{taskService.task.title}}</p>

  <form [formGroup]="routeForm" >
    <h5>От:</h5>
    <mat-form-field>
      <mat-label>Исполнители</mat-label>
      <div *ngIf="isAdmin">
        <mat-select formControlName="start">
          <mat-option  *ngFor="let startUser of startUsers" [value]="startUser.id" >
            {{startUser.lastname}}&nbsp;{{startUser.initial}}
          </mat-option>
        </mat-select>
      </div>
      <div *ngIf="!isAdmin">
        <input matInput formControlName="start" [value]="user.lastname" readonly type="text">
      </div>
    </mat-form-field>

    <h5>Кому:</h5>
    <mat-form-field>
      <mat-label>Согласующие</mat-label>
      <mat-select formControlName="destination">
        <mat-option  *ngFor="let destUser of destUsers" [value]="destUser.id" >
          {{destUser.lastname}}&nbsp;{{destUser.initial}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h5>Тип:</h5>
    <mat-form-field>
      <mat-label>Тип согласования</mat-label>
      <mat-select formControlName="state">
        <mat-option  *ngFor="let state of states" [value]="state.id">
          {{state.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="route-note" appearance="fill">
      <mat-label>Примечание:</mat-label>
      <textarea matInput formControlName="note"></textarea>
    </mat-form-field>
    <br>
    <div class="mat-button">
      <button mat-button [disabled]="routeForm.invalid" (click)="agreement()">
        Направить
      </button>
    </div>
  </form>
</div>
