<div>
  <h1>Перечень возможных приоритетов задач</h1>
  <div class="table-wrapper content">
    <table id="list-table" class="table table-hover table-bordered">
      <thead>
      <tr>
        <th scope="col" width="3%">N</th>
        <th scope="col" width="20%">Тип</th>
        <th scope="col" width="5%">Кол-во дней до сигнализации</th>
        <th scope="col" width="5%">Цвет сигнализации</th>
        <th scope="col" width="15%">Действие</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let priority of priorities; let i=index">
        <th scope="row">{{i+1}}</th>
        <td>
          <mat-form-field class="title-table-width" appearance="fill">
            <input matInput #title [value]=priority.title type="text" maxlength="256">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="count-day-table-width" appearance="fill">
            <input matInput #countDay [value]=priority.countDay.toString() type="number" min="0" max="30">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="title-table-width" appearance="fill">
            <mat-select #color [(value)]="priority.color" (selectionChange)="selectAlarmColor($event)">
              <mat-option  *ngFor="let type of typesPriority.typesPriority" [value]="type.value">
                {{type.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <button color="primary" class="button-table-width"
                  [disabled]="title.value.length < 1"
                  (click)="submitUpdate(priority,title.value, countDay.value)"
                  mat-button disableRipple>
            Обновить
          </button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
