table {
  width: 50%;
}
.title-width{
  width: 30%;
}
.count-day-width{
  width: 10%;
}
.button-table-width{
  width: 100%;
}
.title-table-width{
  width: 100%;
}
.count-day-table-width{
  width: 100%;
}
