.docs-table {
  width: 100%;
}

.docs-button-container {
  padding-bottom: 16px;
}

.docs-button + .docs-button {
  margin-left: 8px;
}
.docs-table {
  width: 100%;
}

.mat-column-id {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
  font-size: 16px;
}

.mat-column-name {
  width: 200px;
  text-align: left;
  padding-left: 16px;
  font-size: 16px;
}

.mat-column-nameFile {
  width: 100px;
  text-align: left;
  font-style: italic;
  font-size: 16px;
}

.mat-column-note {
  width: 400px;
  text-align: left;
  font-style: italic;
  font-size: 14px;
}

.mat-column-date {
  width: 140px;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
}
.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.row-is-clicked {
  font-weight: bold;
}
