<body>
<h1>Оперативный план работ</h1>
  <div *ngIf="isTaskLoaded && isUserDataLoaded" class="table-responsive container">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">N</th>
        <th scope="col">Наименование работ</th>
        <th scope="col">Ответственное подразделение</th>
        <th scope="col">Ответственный исполнитель</th>
        <th scope="col">Срок исполнения</th>
        <th scope="col">Редактирование</th>
        <th scope="col">Документы</th>
        <th scope="col">Удаление</th>
      </tr>
      </thead>
      <tbody>
      <mat-dialog-container *ngFor="let task of tasks; let i = index">
        <tr class="{{task.priority.color}}">
          <th scope="row">{{i}}</th>
          <td>{{task.title}}</td>
          <td>{{task.priority.title}}</td>
          <td>{{task.employee.lastname}}{{task.employee.initial}}</td>
          <td>{{task.date}}</td>
          <td class="info"><a class="btn btn-warning"  href="#">Редактировать</a></td>
          <td class="info"><a class="btn btn-warning"  href="#">Удалить</a></td>
        </tr>
        <tr>
          <td class="warning">Информационное агенство</td>
          <td><a href="http://plurrimi.com">http://plurrimi.com</a></td>
        </tr>
        <tr>
          <td class="warning">Поисковая система</td>
          <td><a href="https://google.com">https://google.com</a></td>
        </tr>
      </mat-dialog-container>
      </tbody>
    </table>
  </div>
</body>
