<div *ngIf="isUserDataLoaded">
  <h1>Здравствуйте: {{user.lastname}} {{user.firstname}} {{user.patronymic}}</h1>

  <button mat-button [disabled]="!isUserDataLoaded" (click)="ngOmLoad()">
    Показать/Обновить роли в системе
  </button>
  <div *ngIf="isRolesLoaded">
    <h2>Ваши роли в системе: </h2>
    <ol>
      <li>Пользователь: {{isUser ? "Да":"Нет"}}</li>
      <li>Администратор: {{isAdmin ? "Да":"Нет"}}</li>
    </ol>
  </div>
  <h2>Текущие задания:</h2>
  <button mat-button [disabled]="!isUserDataLoaded" (click)="getRouteTask()">
    Показать
  </button>
  <div *ngIf="isRouteTaskLoaded">
    <div class="table-wrapper content">
      <table id="list-table" class="table table-hover table-bordered">
        <thead>
        <tr>
          <th scope="col" width="3%">N</th>
          <th scope="col" width="10%">Дата</th>
          <th scope="col" width="20%">Тип</th>
          <th scope="col" width="20%">Адресат</th>
          <th scope="col" width="20%">Примечание</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
  </div>
  </div>

</div>
