<button mat-button [matMenuTriggerFor]="taskMenu">Мероприятия</button>
<mat-menu #taskMenu="matMenu" yPosition="above">
  <button mat-menu-item routerLink="add-task">Добавить</button>
  <button mat-menu-item routerLink="tasks">Просмотр</button>
  <button mat-menu-item routerLink="#">Редактировать</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="docsMenu">Документы</button>
<mat-menu #docsMenu="matMenu" yPosition="below">
  <button mat-menu-item routerLink="#">Добавить</button>
  <button mat-menu-item routerLink="#">Просмотр</button>
  <button mat-menu-item routerLink="#">Редактировать</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="logsMenu">Войти</button>
<mat-menu #logsMenu="matMenu" yPosition="below">
  <button *ngIf="!isLoggedIn" mat-menu-item routerLink="register">Регистрация</button>
  <button *ngIf="isLoggedIn" mat-menu-item routerLink="logout">Выход</button>
  <button *ngIf="!isLoggedIn" mat-menu-item routerLink="login">Вход</button>
</mat-menu>
