<div *ngIf="taskService.isLoadData" class="button_row">
  <h1>Отправка задачи на согласование</h1>
  <h2>Мероприятие:{{taskService.task.title}}</h2>
  <h2>Подробно:{{taskService.task.reference}}</h2>
  <h2>Примечание:{{taskService.task.note}}</h2>
  <h1>Вложения:</h1>
  <button mat-flat-button color="primary" (click)="listDocs()">Показать/Обновить</button>
  <button mat-flat-button color="primary" (click)="sendTask()" >Направить на согласование</button>
  <app-list-documents></app-list-documents>
</div>
