<body>
<header>
  <h2>Оперативный план работ на {{dateService.date | async | moment}}</h2>
  <div *ngIf="!isRolesLoaded">
    <button mat-button [disabled]="!isUserDataLoaded" (click)="ngOmLoad()">
      Режим администратора
    </button>
  </div>
  <div *ngIf="isAdmin">
    <p>Работа в режиме Администратора системы </p>
    <button class="btn btn-warning" (click)="exportexcel()">Export to Excel</button>
  </div>
</header>
<div *ngIf="isTaskLoaded && isUserDataLoaded">
  <div class="table-wrapper content">
    <table id="list-table" class="table table-hover table-bordered">
    <thead>
    <tr>
      <th scope="col" width="3%">N</th>
      <th scope="col" width="10%">Наименование работ</th>
      <th scope="col" width="20%">Содержание работ</th>
      <th scope="col" width="20%">Примечание</th>
      <th scope="col" width="8%">Ответственное подразделение</th>
      <th scope="col" width="8%">Ответственный исполнитель</th>
      <th scope="col" width="8%">Срок исполнения</th>
      <th scope="col" width="8%">Руководитель</th>
      <th *ngIf="isAdmin" scope="col" width="5%">Редактирование</th>
      <th scope="col" width="5%">Исполнение</th>
      <th *ngIf="isAdmin" scope="col" width="5%">Удаление</th>
    </tr>
    </thead>
    <tbody>
    <tr class="{{task.priority.color}}" *ngFor="let task of tasks; let i = index">
      <th scope="row" width="3%">{{i+1}}</th>
      <td width="10%">{{task.title}}</td>
      <td width="20%">{{task.reference}}</td>
      <td width="20%">{{task.note}}</td>
      <td width="8%">{{task.category.title}}</td>
      <td width="8%">{{task.employee.fio}}</td>
      <td width="8%">{{task.strDateControl}}</td>
      <td width="8%">&nbsp;</td>
      <td class="info" *ngIf="isAdmin" width="5%"><a class="btn btn-warning"  (click)="setCurrentTask(i,task.id)">Редактировать</a></td>
      <td class="info" width="5%"><a class="btn btn-warning"  (click)="setCurrentTask(i,task.id)" title="Просмотр задачи, отправка на согласование">Отправить</a></td>
      <td class="info" *ngIf="isAdmin" width="5%"><a class="btn btn-warning"  (click)="openDialog(i, task.id)">Удалить</a></td>
    </tr>
    </tbody>
  </table>
  </div>
</div>
</body>
