<div *ngIf="!isRolesLoaded">
  <button mat-button [disabled]="!isUserDataLoaded" (click)="ngOmLoad()">
    Режим администратора
  </button>
</div>

<div *ngIf="isUserDataLoaded" class="task-form">
  <hi>Новая задача</hi>
  <div *ngIf="isAdmin">
    <p>Работа в режиме Администратора системы, руководитель работ выбирается Администратором </p>
  </div>
  <div *ngIf="!isAdmin">
    <h2>Руководитель(инициатор): {{user.lastname}}&nbsp;{{user.initial}}</h2>
  </div>
  <form [formGroup]="_taskForm" >
    <mat-form-field class="task-full-width" appearance="fill">
      <mat-label>Наименование мероприятия:</mat-label>
      <input matInput #newTask formControlName="newTask" type="text" maxlength="256">
      <mat-hint align="start"><strong>Наименование ограничено по вводу символов</strong> </mat-hint>
      <mat-hint align="end">{{newTask.value.length}} / 256</mat-hint>
      <button *ngIf="newTask.value" matSuffix mat-icon-button aria-label="Clear" (click)="newTask.value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="task-note" appearance="fill">
      <mat-label>Подробнее о мероприятии:</mat-label>
      <textarea matInput #reference formControlName="reference"></textarea>
      <button *ngIf="reference.value" matSuffix mat-icon-button aria-label="Clear" (click)="reference.value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="task-note" appearance="fill">
      <mat-label>Примечание:</mat-label>
      <textarea matInput #note formControlName="note"></textarea>
      <button *ngIf="note.value" matSuffix mat-icon-button aria-label="Clear" (click)="note.value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <div *ngIf="isAdmin">
      <h5>Укажите руководителя</h5>
      <mat-form-field>
        <mat-label>Руководитель</mat-label>
        <mat-select formControlName="teamlied" disabled={{!isUsersLoaded}}>
          <mat-option  *ngFor="let teamlied of users" [value]="teamlied.id" >
            {{teamlied.fio}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <h5>Укажите исполнителя</h5>
    <mat-form-field>
      <mat-label>Исполнители</mat-label>
      <mat-select formControlName="employee" disabled={{!isEmployeesLoaded}}>
        <mat-option  *ngFor="let employee of employees" [value]="employee.id" >
          {{employee.fio}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h5>Укажите приоритет исполнения</h5>
    <mat-form-field>
      <mat-label>Приоритет</mat-label>
      <mat-select formControlName="priority" disabled={{!isPriorityLoaded}}>
        <mat-option  *ngFor="let priority of priorities" [value]="priority.id">
          {{priority.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h5>Задайте контрольную дату</h5>
    <mat-form-field appearance="fill">
      <mat-label>Дата исполнения</mat-label>
      <input matInput [matDatepicker]="dateControl" formControlName="dateControl" value="dateControl|async|moment">
      <mat-datepicker-toggle matSuffix [for]="dateControl"></mat-datepicker-toggle>
      <mat-datepicker #dateControl></mat-datepicker>
    </mat-form-field>
    <br>
    <div *ngIf="!isAdmin" class="mat-button">
      <button mat-button [disabled]="_taskForm.invalid" (click)="submit()">
        Сохранить
      </button>
    </div>
    <div *ngIf="isAdmin" class="mat-button">
      <button mat-button [disabled]="_taskForm.invalid" (click)="submitExtend()">
        Сохранить
      </button>
    </div>
  </form>
</div>
