<mat-card *ngIf="isUserDataLoaded" class="task-card">
  <mat-card-title>{{user.lastname}}&nbsp;{{user.initial}}</mat-card-title>
  <mat-card-subtitle>Форма для заполнения</mat-card-subtitle>
  <form [formGroup]="_taskForm" class="task-form">
    <mat-form-field class="task-full-width" appearance="fill">
      <mat-label>Наименование мероприятия:</mat-label>
      <input matInput #message  formControlName="newTask" type="text" maxlength="256">
      <mat-hint align="start"><strong>Наименование ограничено по вводу символов</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
      <button *ngIf="newTask" matSuffix mat-icon-button aria-label="Clear" (click)="newTask=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <h5>Укажите исполнителя</h5>
    <mat-form-field>
      <mat-label>Исполнители</mat-label>
      <mat-select formControlName="employee" disabled={{!isEmployeesLoaded}}>
        <mat-option  *ngFor="let employee of employees" [value]="employee.id" >
          {{employee.fio}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h5>Укажите приоритет исполнения</h5>
    <mat-form-field>
      <mat-label>Приоритет</mat-label>
      <mat-select formControlName="priority" disabled={{!isPriorityLoaded}}>
        <mat-option  *ngFor="let priority of priorities" [value]="priority.id">
          {{priority.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h5>Задайте контрольную дату</h5>
    <mat-form-field appearance="fill">
      <mat-label>Дата исполнения</mat-label>
      <input matInput [matDatepicker]="dateControl" [formcontrol]="date" formControlName="dateControl">
      <mat-datepicker-toggle matSuffix [for]="dateControl"></mat-datepicker-toggle>
      <mat-datepicker #dateControl></mat-datepicker>
    </mat-form-field>

    <button mat-button [disabled]="_taskForm.invalid" (click)="submit()">
      Сохранить
    </button>

  </form>

  <mat-card-actions align="end">
    <button mat-button [disabled]="true" (click)="submit()">
      Сохранить
    </button>
    <button mat-button>Отмена</button>
  </mat-card-actions>

  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
