@import "../add-task/add-task.component.css";
.logging {
  width: 800px;
  height: 400px;
  margin: 1rem;
  border: 1px dashed black;
  padding: 1rem 1rem;
}
.h1{
  font-size: 14px;
}
.p{
  font-size: 12px;
}
.h2{
  font-size: 12px;
}
.mat-button{
  margin-right: 8px;
  background: lawngreen;
  color: black;
  alignment: right;
  justify-content: right;
  justify-items: right;
  font-size: 16px;
  text-decoration-color: aliceblue;
  border-width: 1px;
  border: black;
}
.mat-button-back{
  margin-right: 8px;
  color: black;
  alignment: right;
  justify-content: right;
  justify-items: right;
  font-size: 16px;
  border-width: 1px;
  border: black;
}
