<div class="register-page">
  <h2>Регистрация нового пользователя</h2>
  <form [formGroup]="registerForm">
    <div class="justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput
               formControlName="email">
      </mat-form-field>
    </div>
    <div class="justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Имя пользователя в системе</mat-label>
        <input matInput
               formControlName="username">
      </mat-form-field>
    </div>
    <div class="justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Имя</mat-label>
        <input matInput
               formControlName="firstname">
      </mat-form-field>
    </div>
    <div class="justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Фамилия</mat-label>
        <input matInput
               formControlName="lastname">
      </mat-form-field>
    </div>
    <div class="justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Отчество</mat-label>
        <input matInput
               formControlName="patronymic">
      </mat-form-field>
    </div>
    <div class="justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Инициалы (Имя. Отчество.)</mat-label>
        <input matInput [maxLength]=4
               formControlName="initial">
        <mat-hint>(Имя. Отчество.)</mat-hint>
      </mat-form-field>
    </div>
    <div class="justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Пароль</mat-label>
        <input type="password" matInput
               formControlName="password">
      </mat-form-field>
    </div>
    <div class="justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Подтверждение пароля</mat-label>
        <input type="password" matInput
               formControlName="confirmPassword">
      </mat-form-field>
    </div>
    <div class="roles_area">
      <mat-form-field appearance="fill">
        <mat-label>Роли в системе</mat-label>
        <mat-select formControlName="roles" multiple>
          <mat-option *ngFor="let role of roles.roles; let i=index"
                      [value]="role.id">
            {{role.title}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button [disabled]="registerForm.invalid" (click)="submit()" mat-flat-button color="primary">
      Регистрация
    </button>
  </form>
</div>
